#newBook {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 280px;
}

/* The popup form */
.hide{
  display: none;
}

/* Add styles to the form container */
form {
  max-width: 30%;
  padding: 10px;
  font-family: arial, sans-serif;
}

form fieldset{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addBook{
  width: 100px;

}
/* Table design */
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 6px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
